.crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('project://database/Assets/Scripts/Oasis/Player/FirstPerson/Hud/crosshair.png?fileID=2800000&guid=cbddab88e8f6e664aa57bdc8d2bebe24&type=3#crosshair');
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    -unity-text-align: upper-center;
}
